body{
    background-color: blue;
}

input{
    width: 100%;
    display: block;
    padding: 15px;
    font-size: 20px;
    margin-bottom: 15px;
}

button{
    background-color:  black;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}