/*Mobile*/

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(58, 167, 240);
}

header h1 {
    font-size: 40px;
    text-align: center;
    color: white;
    padding: 20px;
}

input[type=button] {
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

section {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 400px;
    height: 250px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    font-size: 1.5em;
}

p {
    margin-top: 15px;
}

#resultado>p {
    font-size: 20px;
    margin-top: 40px;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 25px;
}


/*Monitores*/

@media screen and (min-width: 768px) {
    * {
        padding: 0;
        margin: 0;
    }
    body {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: rgb(58, 167, 240);
    }
    header h1 {
        font-size: 40px;
        text-align: center;
        color: white;
        padding: 20px;
    }
    input[type=button] {
        padding: 10px;
        border-radius: 5px;
    }
    section {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width: 500px;
        height: 400px;
        margin: auto;
        background-color: white;
        border-radius: 10px;
        padding: 25px;
        font-size: 1.5em;
    }
    #imagem {
        text-align: center;
        margin-top: 20px;
    }
    img {
        width: 250px;
        border-radius: 50px;
    }
    p {
        margin-top: 15px;
    }
    #resultado {
        text-align: center;
    }
    footer {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-align: center;
        font-size: 25px;
    }
}